<div class="user-details">
  <h1>Research Interest</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Artificial Intelligence</h2>
      <img width="70" height="70" src="/assets/MachineLearning.png"/>
      <img width="70" height="70" src="/assets/DeepLearning.jpg"/> 
      <img width="70" height="70" src="/assets/Tensorflow.jpeg"/>
    <ul style="font-size:15px;">
      <li>Neural Networks-Based Coaching Assistant System</li>
      <li>Neural Networks</li>
      <li>Machine & Deep Learning Applications</li>
      <li>Computational Neuroscience</li>
      <li>Human Motion Recognition</li>
      <li>Motion Similarity Evaluation</li>
      <li>Human Visual Perception & Computer Vision</li>
      <li>Data Analysis</li>
    </ul>
  </div>
  <div class="tech">
    <h2>Computer Architecture</h2>
      <img width="70" height="70" src="/assets/FPGA.jpeg"/>
      <img width="70" height="70" src="/assets/SoC.jpg"/> 
      <img width="70" height="70" src="/assets/GPU.png"/>    
    <ul style="font-size:15px;">
      <li>FPGA-Based Accelerator for Neural Networks</li>
      <li>Low-cost and Speed-up Method for Calculation Module</li>
    </ul>
  </div>
</div>
