<div class="user-details">
  <h1>Research Interest</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Artificial Intelligence</h2>
      <img width="70" height="70" src="/assets/MachineLearning.png"/>
      <img width="70" height="70" src="/assets/DeepLearning.jpg"/> 
      <img width="70" height="70" src="/assets/Tensorflow.jpeg"/>
    <div class="contents">
      <ul>
        <li>Neural Networks-Based Coaching Assistant System</li>
      </ul>
    </div>
    <p>Neural Networks</p>
    <p>Machine & Deep Learning Applications</p>
    <p>Computational Neuroscience</p>
    <p>Human Motion Recognition</p>
    <p>Motion Similarity Evaluation</p>
    <ul>
      <li>Neural Networks-Based Coaching Assistant System</li>
    </ul>
    <p>Human Visual Perception & Computer Vision</p>
    <p>Data Analysis</p>
  </div>
  <div class="tech">
    <h2>Computer Architecture</h2>
      <img width="70" height="70" src="/assets/FPGA.jpeg"/>
      <img width="70" height="70" src="/assets/SoC.jpg"/> 
      <img width="70" height="70" src="/assets/GPU.png"/>    
    <p>My main development languages are Java and JavaScript, but I have worked with Go, Python, PHP and more..</p>
  </div>
</div>
<div class="user-details">
  <h1>Papers</h1>
</div>

