<div class="user-details" style="margin:0px 0px -30px 0px;">
  <h1>Research Interest</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Artificial Intelligence</h2>
      <img width="70" height="70" src="/assets/MachineLearning.png"/>
      <img width="70" height="70" src="/assets/DeepLearning.jpg"/> 
      <img width="70" height="70" src="/assets/Tensorflow.jpeg"/>
    <p>Neural Networks</p>
    <p>Machine & Deep Learning</p>
    <p>Computational Neuroscience, Signal & Image Processing</p>
    <p>Wearable Computing, Skill Assessment</p>
    <p>Human Visual Perception & Computer Vision</p>
  </div>
  <div class="tech">
    <h2>Computer Architecture</h2>
      <img width="70" height="70" src="/assets/FPGA.jpeg"/>
      <img width="70" height="70" src="/assets/SoC.jpg"/> 
      <img width="70" height="70" src="/assets/GPU.png"/>    
    <p>FPGA-Based Accelerator for Neural Networks</p>
    <p>Low Power Design</p>
    <p>Energy-Aware Computing</p>
    <p>System-on-Chip</p>
    <p>Embedded Systems</p>
  </div>
</div>
<div class="user-details" style="margin:-30px 0px 0px 0px;">
  <h3>Applications</h3>
  <p style="font-size:17px;">Human Activity Recognition</p>
  <p style="font-size:17px;">Neural Networks-Based Coaching Assistant System</p>
  <p style="font-size:17px;">Motion Similarity Evaluation</p>
</div>
<input type="button" value="Back" onclick="history.back(-1);">
